/*****************Branding elements for site****************/

:root {
  --font1: 'Raleway', sans-serif;
  --font2: 'Montserrat', sans-serif;
  --color1: #122c34;
  --color2: #224870;
  --color3: #ebeef4;

  margin: 0px;
  padding: 0px;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  grid-template-rows: auto auto auto;
}
/***** Grid spacing for default pages ******/
.navbarspace {
  grid-row: 1 / 2;
}
.contentspace {
  grid-row: 2 / 3;
}

.footerspace {
  grid-row: 3 / 4;
}

.pagespace {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.pagetext {
  grid-column: 2 / 3;
}

/*********** Styling for titles and text ************/

h1 {
  font-family: var(--font1);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color1);
  line-height: 2em;
  font-size: 3em;
  margin-top: 1em;

}

h2 {
  font-family: var(--font1);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color1);
  font-size: 2em;
  text-align: center;
  padding: 20px;
}

h3 {
  font-family: var(--font1);
  font-weight: 400;
  line-height: 1.5em;
  font-size: 2em;
  margin-top: 1em;
}

.text {
  font-family: var(--font2);
  font-weight: 400;
  font-size: 1em;
  color: var(--color1)
}

.lead {
  font-size: 1.8em;
  line-height: 1.7em;
}

p, li {
  font-family: var(--font2);
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.2em;
  color: var(--color1)
}
