footer {
	display: flex;
	flex-direction: row;
	background-color: var(--color1);
	color: var(--color3);
	padding: 40px;
	font-family: var(--font2);
}

footer .column1 {
	grid-column: 1 / 2;
	display: grid;
	grid-template-columns: 1fr 50px 400px 1fr;
	grid-template-rows: 1fr auto auto auto 1fr;
	align-items: center;

}

footer .column2 {
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 1fr auto auto 1fr;
	justify-items: left;

}

footer .fas {
	font-size: 1.5em;
	padding: 10px;
	justify-content: right;
}

footer .fa-map-marker-alt {
	grid-column: 2 / 3;
	grid-row: 2/ 3;
}

footer .address {
	grid-column: 3 / 4;
	grid-row: 2/ 3;
}

footer .fa-phone {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

footer .phone {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}

footer .fa-envelope {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}

footer .email {
	grid-column: 3 / 4;
	grid-row: 4 / 5;
}

.footer-title {
grid-column: 2 / 3;
grid-row: 2 / 3;
 font-weight: 700;
 align-self: end;
 padding: 10px;
}

.footer-paragraph {
grid-column: 2 / 3;
grid-row: 3 / 4;
}

@media only screen and (max-width: 650px) {
	footer {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


}




