
/************ Logo styling here*************/
.logo {
  width: 100px;
  fill: var(--color3);
  padding: 10px;
}
.st0{font-family: var(--font1); font-weight: 600}
.st1{font-size:207px;}
.st2{font-family:var(--font1);}
.st3{font-size:55px;}

/*********** header styling is here**************/
nav {
  grid-row: 1 / 2;
  background-color: var(--color1);
  display: grid;
grid-template-columns: 20px auto 1fr auto 20px;
align-items: center;
 position: static;
  width: 100%;
}

nav .logo {
grid-column: 2 / 3
}

.navbar {
  margin: 0;
    padding: 0;
list-style: none;
grid-column: 4 / 5;
}

.navbar li {
display: inline;
padding: 15px;
font-size: 1.2em
}

.navbar li a {
font-family: var(--font2);
color: var(--color3);
text-decoration: none;

}

@media only screen and (max-width: 992px){
  .navbar li {
  font-size: 1em;
  }
}

@media only screen and (max-width: 768px){
  nav {
  grid-template-columns: 20px 1fr 20px;
grid-template-rows: auto auto;
  align-items: center;
  }

  nav .logo {
  width: 80px;
  justify-self: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  }

  .navbar {
  justify-self: center;
  grid-column: 2 / 3;
grid-row: 2 / 3;
padding: 5px;
  }

  .navbar li {
  display: inline;
  padding: 10px;
  }

  .navbar li a {
  font-size: .9em
  }
}
