<footer id="contact">
<div class="column1">
<div class="info-block address-block">
<i class="fas fa-map-marker-alt"></i>
<div class="address">
  <span>418 N Eagle Road, Suite 160, </span>
<span>Boise, ID 83713</span>
</div>
</div>
<div class="info-block">
<i class="fas fa-phone"></i>
<span class="phone">208.939.6075</span>
</div>
<div class="info-block">
<i class="fas fa-envelope"></i>
<span class="email">imanemail@email.com</span>
</div>
</div>

<div class="column2">
<span class="footer-title">About the company</span>
<span class="footer-paragraph">I'm a paragraph about the company</span>

</div>
</footer>

